extend ../templates/master

block head-custom
  +meta-title(t("admin.title"))
  +meta-description(t("aosc_full_name"))

block banner
  .row.afe-banner-subpage
    .col-sm-12
      h1 #{t("admin.h1")}
      h2 #{t("admin.h2")}

block content
  #wrapper.row
    .col-sm-8.col-sm-offset-2.afe-content
      p #{t("admin.prompt_a")}&nbsp;<strong>
        span#accept-countdown=params.timeout
        | &nbsp;#{t("second")}</strong>
      pre.
        $ accept-ticket #{params.ticket}
      p #{t("admin.prompt_b")} <strong>#{Math.floor(params.expire/60)} #{t("minute")}</strong>
      p #{t("admin.prompt_c")}
      pre.
        $ destroy-ticket #{params.ticket}
      div#div-success(style="display: none; margin-top: 40px;")
        p #{t("admin.ticket_accepted")}
        p #{t("admin.prompt_redirect")}&nbsp;
          a(href=params.redirect) #{t("here")}
          | &nbsp;#{t("admin.fake_in")}&nbsp;
          span#redirect-countdown 5
          | &nbsp;#{t("second")}

append javascript
  script.
    function countDown(cd, cb){
      var i = parseInt(cd.text());
      if(--i>=0) {
        setTimeout(function() {cd.text(i); countDown(cd, cb)}, 1000);
      } else {
        cb();
      }
    }

    countDown($("#accept-countdown"), function() {
      window.location.reload();
    });

    function pendingTicket() {
      $.ajax({
        url:"/admin/api/wait-ticket?timestamp=" + new Date().getTime(),
        success: function(result) {
          if(result == "accepted") {
            $("#div-success").css("display", "block");
            countDown($("#redirect-countdown"), function() {
              window.location.href="#{params.redirect}";
            });
          }
        },
        error: function(xhr, text, err) {
          if(text == "timeout" || xhr.status == 504 ) {
            pendingTicket();
          }
        }
      });
    } pendingTicket();
