extend ../news

block head-custom
  +meta-title("Post, Modify or Remove News")
  +meta-description("Anthon Open Source Community")

append stylesheet
  +include-css("/assets/css/admin-news-post.css")

include ../templates/flow-include
block content
  #wrapper.row
    .col-sm-8
      h2.afe-news-post-title PREVIEW
      +flow([params])
    .col-sm-4
      h2.afe-news-post-title EDITOR
      form(method="post", action="#")
        p: input(name="title", type="text", placeholder="(Leave here empty to delete news) Title", value=params.title)
        p: input(name="type", type="text", placeholder="(Required except fetching) Type: news, bug, etc.", value=params.type)
        p: textarea(name="content")=params.content
        p: input(name="imgOrig", type="text", placeholder="(Optional) URL of Image", value=params.imgOrig)
        p: input(name="imgThumb", type="text", placeholder="(Required if the former is not empty) Thumbnail", value=params.imgThumb)
        p: input(name="timestamp", type="text", placeholder="(Unique, Key) Timestamp", required, value=params.timestamp)
        p
          input#radio-fetch(type="radio", name="action", value="fetch")
          label.afe-radio-caption(for="radio-fetch") Fetch

          input#radio-preview(type="radio", name="action", value="preview", checked="checked")
          label.afe-radio-caption(for="radio-preview") Preview

          br

          if params.previewed
            input#radio-post(type="radio", name="action", value="post")
          else
            input#radio-post(type="radio", name="action", value="post", disabled)
          label.afe-radio-caption(for="radio-post") Post (preview first)

          if params.previewed
            input#radio-put(type="radio", name="action", value="put")
          else
            input#radio-put(type="radio", name="action", value="put", disabled)
          label.afe-radio-caption(for="radio-fetch") Put (override)

        p: input(type="submit", value="Submit")

include ../templates/lightbox-include
append stylesheet
  +lightbox-css()
append javascript
  +lightbox-js-flow()
