extend templates/master

include templates/flow-include
include templates/pagination-include
include templates/lightbox-include

block head-custom
  +meta-title(t("community"))
  +meta-description(t("aosc_full_name"))

append stylesheet
  +include-css("/assets/css/flow.css")
  +include-css("/assets/css/community.css")

block banner
  .row
    .col-sm-12
      h1 #{t("community")}
      h2 #{t("community_page.subtitle")}
    .col-sm-6
      p.
        #{t("community_page.desc")}

block content
  #wrapper.row
    .col-sm-8
      .clearfix
        h1.afe-small-captions #{t("community_page.recent")}
        +flow(params.items)
        +pagination(params.pages)
    #side-gallery.col-sm-4
      h1.afe-small-captions #{t("community_page.photographs")}
      ul.popup-gallery
        each val in params.imgs
          li
            a(href=val.imgOrig, desc=val.desc, subdesc=val.date)
              img.afe-cover(src=val.imgThumb)
        // TODO: Make a gallery page

append stylesheet
  +lightbox-css()
append javascript
  +lightbox-js-flow()
  +lightbox-js-gallery()
