extend ./templates/layout.jade

block title
  | AOSC OS - AOSC
block append stylesheet
  link(rel='stylesheet', href='assets/css/distro.css')

mixin systemRequirement(faicon, text)
  p
    span.afe-card-sysreq-icon(class='fa '+ faicon)
    span.afe-card-sysreq-text=text
block content
  #wrapper: .container
    .row
      .col-md-8.col-md-offset-2.col-xs-12(style="padding-top: 40px; padding-bottom: 40px;")
        .col-md-2.hidden-sm.hidden-xs(style="padding-left: 0px")
          img(src="/assets/i/aosc-os.svg" style="width: 96px; height: 96px;")
        // FIXME: vertical alignment.
        .col-md-6.col-sm-12.col-xs-12
          h1(style="margin-top: 5px;") AOSC OS
          a(href="#download"): button.btn.btn-primary
            | DOWNLOAD
    .row
      .col-md-8.col-md-offset-2.col-sm-12.col-xs-12(style="padding-top: 40px 30px; vertical-align: center;")
        each feature, index in params.distro.features
          .row.afe-left-and-right-receptor
            hr
            .col-md-8.col-xs-12.col-sm-12.afe-left-and-right-effector
              h2=feature.name
              p=feature.why
              small=feature.ps
            .col-md-4.hidden-xs.hidden-sm
              img(src=feature.image style="width: 192px; height: 192px;")
