extend templates/master

include templates/flow-include
include templates/lightbox-include
include templates/affix-include

block head-custom
  +meta-title(t("index.title"))
  +meta-description(t("common.aosc_full_name"))

append stylesheet
  +include-css("/assets/css/flow.css")
  +include-css("/assets/css/hoverpanel.css")
  +include-css("/assets/css/index.css")

block banner
  .row
    .col-sm-12.text-center
      h1.afe-index-title AOSC
      // HERE IS AN IDEA, RANDOM SUB-TITLE EACH VISIT?
      // GOOD IDEA
      h2 &nbsp;
    .col-sm-offset-3.col-sm-6.text-center
      p.
        #{t("index.welcome")}

block banner-floating
  .row
    .col-sm-12.text-center
      small.
        #{t("index.float_banner")}

block content
  .afe-banner-tail.hidden-sm.hidden-xs
    .container: .row: .col-sm-12
      ul.popup-gallery
        each val in params.imgs
          li
            a(href=val.imgOrig, desc=val.desc, subdesc=val.date)
              img.afe-cover(src=val.imgThumb)
      a#button-more(href="/community"): img(src="/assets/i/button-more.svg")
  .afe-banner-tail-padding.hidden-sm.hidden-xs

  #wrapper.row
    .col-sm-8
      h1.afe-small-captions #{t("index.latest_news")}
      +flow(params.items, 5)
    .col-sm-4: #side-panel.affix-top
      h1.afe-small-captions #{t("index.project_overview")}
      ul.afe-hoverpanel
        each project in params.projects
          li
            a(href=`/projects/${project.mininame}`)
              h1=project.fullname
            p=project.description
      h1.afe-small-captions #{t("about_page.common_services")}
      ul.afe-hoverpanel
        each service in params.services
          li
            a(href=service.link)
              h1=service.srvtype
            p=service.description
    .col-sm-4.invisible#side-panel-width

append stylesheet
  +lightbox-css()
append javascript
  +lightbox-js-flow()
  +lightbox-js-gallery()
  +affix-js('#side-panel', '#side-panel-width', '.afe-floating-banner')
  script.
    $(function() {
      var pre_splash = '';
      function refreshSplash(){
        $.getJSON('/api/splashes', function(json) {
          if(json.splashes != pre_splash) {
            $('.afe-banner h2').fadeOut(function(){
              $('.afe-banner h2').text(json.splashes);
              $('.afe-banner h2').fadeIn();
            });
            pre_splash = json.splashes;
          }
        });
        setTimeout(refreshSplash, 10000);
      }
      refreshSplash();
    });
