extend ./templates/layout.jade
block title
  | Community Portal - AOSC
block append stylesheet
  link(rel='stylesheet', href='assets/css/index.css')
block content
  .afe-bigbanner: .container
    .row
      .col-md-8
        h1 ANTHON OPEN SOURCE COMMUNITY
        p Hi, and welcome to AOSC. We are a group of free and open technology enthusiasts working hard for improvements.
      .col-md-3.col-md-offset-1.pull-right: a(href="/"): button.btn.btn-primary(style="height:9rem;")
        | DOWNLOAD AOSC OS
      .col-md-3.col-md-offset-1: button.btn.btn-default
        | AND CUP O' BOBA?
  #wrapper: .container: .row
    .col-md-8
      h2.afe-littlecaption LASTEST NEWS
      ul.afe-news
        each val, index in params.broadcast
          li(class="afe-news-tag-"+val.type): .afe-news-container
            if index<5
              h3=val.title
              p.afe-news-info
                span.afe-news-date=val.date
              .afe-news-body
                each para in val.content
                  !=para
              hr
            else if index<8
              a(href="#")
                h3=val.title
              hr
            else if index>=8
        li: a(href="news-flow"): h4 Read more...
    .col-md-3.col-md-offset-1
      h2.afe-littlecaption PROJECTS OVERVIEW
      ul.afe-prjs
        each project in params.projects
          li
            img.pull-left(src="/assets/i/" + project.mininame + ".svg")
            .afe-prjs-body
              h3=project.fullname
              p=project.description
