extend ./templates/layout.jade

block title
  | Community Portal - AOSC
block append stylesheet
  link(rel='stylesheet', href='assets/css/index.css')
block content
  .afe-bigbanner: .am-g.am-g-fixed.am-vertical-align: .am-vertical-align-middle.am-cf
    .am-u-md-9
      h1 Anthon Open Source Community
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .am-u-md-3: a(href="/"): button.am-btn.am-btn-primary(style="height:9rem;")
      | Download AOSC OS
    .am-u-md-3: button.am-btn.am-btn-default
      | Donate a cup of coffee
  #wrapper: .am-g.am-g-fixed
    .am-u-md-9
      h2.afe-littlecaption LASTEST NEWS
      ul.afe-news
        each val, index in params.broadcast
          li(class="afe-news-tag-"+val.type): .afe-news-container
            if index<2
              h3=val.title
              p.afe-news-info
                span.afe-news-date=val.date
              .afe-news-body
                each para in val.content
                  !=para
            else
              a(href="#")
                h3=val.title
            hr
        li: a(href="somewhere"): h4 Read more...
    .am-u-md-3
      h2.afe-littlecaption PROJECTS OVERVIEW
      ul.afe-prjs
        each project in params.projects
          li.am-cf
            img.am-fl(src="assets/i/test.png")
            .afe-prjs-body
              h3=project.fullname
              p=project.description
