extend templates/master.jade

block head-custom
  +meta-title("Community Portal")
  +meta-description("Anthon Open Source Community")

block append stylesheet
  +include-css("/assets/css/index.css")

block banner
  .row
    .col-md-12.text-center
      h1 AOSC
      // HERE IS AN IDEA, RANDOM SUB-TITLE EACH VISIT?
      // GOOD IDEA
      h2 &nbsp;
    .col-md-offset-3.col-md-6.text-center
      p.
         Welcome to Anthon Open Source Community! We are a group of free and open technology enthusiasts working hard for improvements.
    .col-md-12.text-center
      a(href="#").afe-button
        img(alt="Download", src="/assets/i/button-download.svg")
      a(href="#").afe-button
        img(alt="About", src="/assets/i/button-about.svg")

block banner-floating
  .row
    .col-md-12.text-center
      small.
        Most good programmers do programming not because they expect to get paid
        or get adulation by the public, but because it is fun to program. -- Linus Torvalds

block content
  .afe-sub-banner.hidden-sm.hidden-xs
    .row(style="background-color: #cdcdcd; padding-top: 0; padding-bottom: 15px;")
      // FIXME: PROTOTYPE
      .col-md-1
        div.afe-little-node(style="width: 65px; height: 65px; border-radius: 0; margin: 15px 0px 0px;")
      .col-md-1
        div.afe-little-node(style="width: 65px; height: 65px; border-radius: 0; margin: 15px 0px 0px;")
      .col-md-1
        div.afe-little-node(style="width: 65px; height: 65px; border-radius: 0; margin: 15px 0px 0px;")
      .col-md-1
        div.afe-little-node(style="width: 65px; height: 65px; border-radius: 0; margin: 15px 0px 0px;")
      .col-md-1
        a(href="#")
          span(style="display: block; margin-top: 60px;") More...
  .row(style="padding-top: 25px")
    .col-md-8
      h4.afe-small-captions(style="padding-left: 0rem;") LASTEST NEWS
      ul.afe-main
        each val, index in params.broadcast
          li(style="list-style-type: none;" class="afe-tag-"+val.type): .afe-main-item
            if index<5
              h3=val.title
              small.afe-main-item-subtitle=val.date
              .afe-main-item-body
                each para in val.content
                  !=para
              hr
            else if index<8
              a(href="#")
                h3=val.title
                hr
            else if index>=8
              li
                a(href="#")
        h4(style="margin-bottom: 40px;")
          a(href="/news-flow") Read more...
    .col-md-4
      h1(style="padding-left: 4rem;").afe-small-captions PROJECTS OVERVIEW
      ul.afe-side
        each project in params.projects
          li
            .row(style="padding: 0;")
              .col-xs-1
                div.afe-little-node(style="margin-top: 3px")
              .col-xs-10
                h1(style="margin-top: 0; margin-bottom: 5px")=project.fullname
                p=project.description

block append javascript
  +include-js("/assets/js/hoverpanel.js")
  script.
    $(function() {
      $(".afe-side .row").hoverPanel();
      $.getJSON("/api/splashes", function(json) {
        if(json.splashes) $(".afe-banner h2").text(json.splashes);
      });
    });
