extend templates/master

mixin mirror-entry(mirror_info, repo_info)
  tr.ms-row(id="mirror-" + mirror_info.id)
    td #{mirror_info.id}
    td #{mirror_info.region}
    td
      a(href=mirror_info.url) #{mirror_info.name}
    if mirror_info.lupd
      td #{moment(mirror_info.lupd).format('YYYY-MM-DD HH:mm:ss')}
    else
      td N/A
    if mirror_info.status != 200
      td.danger Failed: #{mirror_info.status_desc}
    else if mirror_info.lupd == repo_info.lupd
      td.success Up to date!
    else if !repo_info.lupd
      td N/A
    else if mirror_info.lupd < repo_info.lupd
      - var lag = Math.floor((repo_info.lupd - mirror_info.lupd));
      td(class=lag > 57600000 ? 'danger' : 'warning') #{moment(mirror_info.lupd).twix(repo_info.lupd).humanizeLength()} behind
    td #{moment(mirror_info.lack).format('YYYY-MM-DD HH:mm:ss')}
    if mirror_info.status
      td #{mirror_info.status} (#{mirror_info.status_desc})
    else
      td N/A

block head-custom
  +meta-title("AOSC Mirror Status")
  +meta-description("Anthon Open Source Community")
  
append javascript
  +include-js('/assets/js/footable.min.js')
  +include-js('/assets/js/mirror-status.js')
  script.
    jQuery(function($){
      $('.table').footable();
    });

append stylesheet
  +include-css('/assets/css/mirror-status.css')
  +include-css('/assets/css/footable.bootstrap.min.css')

block banner
  .row
    .col-sm-12
      h1 AOSC MIRROR STATUS
      h2 GET TO KNOW ABOUT OUR MIRROR SERVICES AROUND THE GLOBE
    .col-sm-6
      p.
        Believe it or not, AOSC has been around for quite some time now, we do
        want more people to know about us, and those who we are grateful to.
        AOSC will never take its shape today without the support from our lovely
        community and our generous sponsors.

block content
  table.table#mirrors-tb
    thead
      tr
        th(data-breakpoints="all") ID
        th Region
        th Name
        th(data-breakpoints="xs") Last Updated
        th Status
        th(data-breakpoints="all") Last Checked
        th(data-breakpoints="all") Last HTTP Status Code
    tbody
      tr.ms-row#mirror-0
        td 0
        td #{params.repo_info.region}
        td
          a(href=params.repo_info.url) #{params.repo_info.name}
        if params.repo_info.status == 200
          td #{moment(params.repo_info.lupd).format('YYYY-MM-DD HH:mm:ss')} (#{moment(params.repo_info.lupd).twix(Date.now()).humanizeLength()} ago)
        else
          td N/A
        td.info #{params.repo_info.status == 200 ? 'Origin' : 'Error'}
        td #{moment(params.repo_info.lack).format('YYYY-MM-DD HH:mm:ss')} (#{moment(params.repo_info.lack).twix(Date.now()).humanizeLength()} ago)
        td #{params.repo_info.status} (#{params.repo_info.status_desc})
      for mirror in params.mirrors
        +mirror-entry(mirror, params.repo_info)
  p
    div.checkbox(style="float: right")
      input#testing-chkbox(type="checkbox")
      label(for="testing-chkbox") Enable testing?
    a.btn.btn-primary#gen-btn(href="javascript:void(0);", onclick="startMeasurement();") Generate APT Configuration
    span(style="display: none;")#pdesc Crunching mirrors information for you, just a moment...!
    div.progress(style="display: none;")#pbar
      div.progress-bar.progress-bar-striped.active#pgs(role="progressbar", aria-valuenow="70", aria-valuemin="0", aria-valuemax="100", style="width:0%") 0%
