extend templates/master

block head-custom
  +meta-title("People")
  +meta-description("Anthon Open Source Community")

append stylesheet
  +include-css("/assets/css/hoverpanel.css")
  +include-css("/assets/css/projects.css")

block banner
  .row
    .col-sm-12
      h1 PEOPLE
      h2 Creators, contributors, half-trolls.
    .col-sm-6
      p.
        Our community, and its numerous projects are created and maintained by
        ordinary people like us. We may have different occupations, but our
        goals are common - to create better tools and platforms for people like
        you to enjoy. What we believe in is openness and the freedom of
        expression in code - like how we believe anyone has the right and
        capacity to participate in our community.

block content
  #wrapper.row
    .col-sm-8
      h1.afe-small-captions.afe-important COMMUNITY CONTRIBUTORS
      each person in params.people
        .media
          .media-left
            a(href=`/people/~${person.username}`): img(src=`https://github.com/${person.username}.png?size=120` style="width: 120px; height: 120px;")
          .media-body
            if person.fullname
              a(href=`/people/~${person.username}`): h2(style="margin-top: 0;")=`${person.fullname} (${person.username})`
            else
              a(href=`/people/~${person.username}`): h2(style="margin-top: 0;")=person.username
            p=person.description
            small=person.longdesc
