extend templates/master

block head-custom
  +meta-title(t("Project"))
  +meta-description(t("aosc_full_name"))

append stylesheet
  +include-css("/assets/css/hoverpanel.css")
  +include-css("/assets/css/projects.css")

block banner
  .row
    .col-sm-12
      h1 #{t("projects")}
      h2 #{t("projects_page.subtitle")}
    .col-sm-6
      p.
        #{t("projects_page.desc")}

block content
  #wrapper.row
    .col-sm-8
      h1.afe-small-captions.afe-important #{t("projects_page.community_projects")}
      each project in params.projects
        .media
          .media-left
            a(href=`/projects/${project.mininame}`): img(src=project.logo style="width: 120px; height: 120px;")
          .media-body
            a(href=`/projects/${project.mininame}`): h2(style="margin-top: 0;")=project.fullname
            p=project.long
            small=project.ps
    .col-sm-4
      h4.afe-small-captions #{t("projects_page.other_projects")}
      ul.afe-hoverpanel
        each project in params.otherProjects
          li
            a(href=`https://github.com/AOSC-Dev/${project.proj}/`)
              h1=project.name
            p=project.desc
