extend ./templates/layout.jade

block title
  | Community Projects - AOSC
block append stylesheet
  link(rel='stylesheet', href='assets/css/distro.css')

mixin systemRequirement(faicon, text)
  p
    span.afe-card-sysreq-icon(class='fa '+ faicon)
    span.afe-card-sysreq-text=text
block content
  #wrapper: .container
    .row
      .col-md-10.col-md-offset-1.col-xs-12(style="padding-top: 40px; padding-bottom: 40px;")
        .col-md-2.hidden-sm.hidden-xs(style="padding-left: 0px")
          img(src="/assets/i/aosc.svg" style="width: 96px; height: 96px;")
        // FIXME: vertical alignment.
        .col-md-6.col-sm-12.col-xs-12
          h1(style="margin-top: 5px;") PROJECTS
          p Not just another brick in the wall.
    .row
      .col-md-10.col-md-offset-1.col-sm-12.col-xs-12(style="padding-top: 40px 30px; vertical-align: center;")
        each projects in params.project
          .row.afe-left-and-right-receptor
            hr
            .col-md-8.col-xs-12.col-sm-12.afe-left-and-right-effector
              h2=projects.fullname
              each para in projects.long
                p=para
              hr
              .col-xs-4(style="padding: 0;")
                a(href="#{projects.gitlink}")
                  p.fa.fa-git-square(style="font-size: 20px; margin-right: 10px;")
                  | Git
              .col-xs-8(style="padding: 0;")
                a(href="#{projects.url}")
                  p.fa.fa-download(style="font-size: 20px; margin-right: 10px;")
                  | Downloads
            .col-md-4.hidden-xs.hidden-sm
              img(src="/assets/i/" + projects.mininame + ".svg" style="width: 160px; height: 160px;")
        hr
        .col-xs-4.col-xs-offset-5
          a(href="https://github.com/AOSC-Dev/")
            img(src="/assets/i/list-add.svg" style="width: 48px; height: 48px;")
